menu "Esp32 WoL Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the program to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the program to use.

    config WOL_TARGET_MAC
        string "Target MAC address for WoL"
        default "00:11:22:33:44:55"
        help
            The MAC address of the device to wake, in the standard format
            "AA:BB:CC:DD:EE:FF".
            Example: 00:1A:2B:3C:4D:5E
            
endmenu